# LICENSE: http://docs.forwardfour.com/index.php/License
# 
# Package: System Core
# Dependencies: None
# Known issues: None
# 
# Reject public access to the core configuration file.

# Deny access to the configuration file.
<FILES config.php>
  order deny,allow
  deny from all
</FILES>